

.button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1% 30% 3% 30%;
}
.btn-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 1% 30% 3% 30%;
}

#app{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 6.25%;
  flex-direction: row;
}

#app > * {
  flex: 0 1 25%;
}

.dog{
  background-color: lightgreen;
}

.cat{
  background-color: lightblue;
}

.dino{
  background-color: orange;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

img{
  width: 100%;
}
